* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
    font-family: 'Roboto', sans-serif;
}

body { 
    display: grid; 
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}
body > * {
    /* border: 1px black solid; */
}

a {
    text-decoration: none;
}
/* header */
.header {
    grid-column: 2 / -1;

    display: grid; 
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;

    padding: 10px; 

    z-index: 10; /* bringing header to the forefront to display the box shadow
    
}

.header > * { 
    /* border: 1px blue solid; */
}

.header img {
    min-width: 25px;
    height: auto;
}

.user-nav {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 6px; 
}

.search-container {
    display: grid; 
    grid-template-columns: 1fr 9fr;
    justify-items: center;
    align-content: center; 
    gap: 6px;     
}
.search-container input {
    border-radius: 16px;
    border: none; 
    background-color: lightgray;
    width: 90%; 
    padding: 10px; 
}

.welcome-section {
    display: grid; 
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 10px; 
}

.header-dash-buttons {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
}

.header-dash-buttons button {
    padding: 16px 36px; 
    border-radius: 24px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(28, 173, 209);
    color: whitesmoke; 
    border: none; 
}

/* sidebar */
.sidebar {
    grid-row: 1 / -1;
    background-color: rgb(28, 173, 209);

    display: flex;
    flex-direction: column;
    padding: 16px; 
    gap: 40px; 

    color: whitesmoke; 
}

.sidebar img {
    min-width: 25px;
    height: auto;

}

.sidebar-header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px; 

    font-size: 26px;
    font-weight: bold;
}

.sidebar-section {
    display: grid; 
    grid-template-columns: 1fr 6fr;
    gap: 16px; 

    font-size: 20px;
    font-weight: bold;
}

/* main */
.main {
    display: grid; 
    grid-template-columns: 3fr 1fr;
    gap: 20px; 
    padding: 20px; 

    background-color: rgb(171, 191, 204);
}

.main h3 {
    padding-top: 10px; 
}

.project-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px; 
}

.project-sidebar {
    display: flex; 
    flex-direction: column;
    gap: 10px; 
}

.project-tile {
    border-left: 6px rgb(220, 178, 62) solid;
    
}

.project-tile, .announcements-cont, .trending-cont {
    background-color: white;
    border-radius: 8px;
    padding: 20px; 
}


h3, h4 {
    padding-bottom: 6px;
}

header, .project-tile, .announcements-cont, .trending-cont {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}